*{
    margin: 0;
    padding: 0:
}
body  {
    background-color: #f9f9f9;
    height: 900px;
    margin: 0px 154px;
    background: ffffff;
}
.logo{
    margin: 40px 48px 0px 46px;
}
.center{
    width: 1060px;
    height: 900px; 
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
   
}

.top_menu ul {
  width: 970px;
  margin: 40px 48px 40px 46px;
  list-style: none; 
  padding: 0;
  background: #555555;
}
 .top_menu li{
    display: inline-block;
}
.top_menu a{
  padding: 12px 70px 12px 20px;
  display: block;
  color: white;
  background: 555555; 
  text-decoration: none;
}
 .top_menu a:hover {
     color: white;
     background: #363636;
}
.sidebar{
width: 25%;
    float: left;
    margin: 0px 28px 40px 46px;
        }
.sidebar ul{
   width: 240px;
    padding: 0;
    list-style: none;
    }
.sidebar  a {
  font-size: 14px;
  display: block;
  background: white; 
  padding: 12px 70px 12px 20px;
  color: #7a7878;
  border: 1px solid black;
  text-decoration: none;
}
.sidebar a:hover {
    padding-left: 30px;
    color: black;
    background: #f9f9f9;
}
.content {
    float: left;
    width: 65%;
    margin-bottom: 40px;
    }
.content p{
    margin: 25px 5px;
}
footer{
clear: both;
margin: 0px 48px 0px 46px;
width: 970px;
    
}
footer ul {
  list-style: none; 
  padding: 0;
  background: #e1e1e1;
}
 footer li  {
     display: inline-block;
}
footer a {
  padding: 10px 70px 10px 20px;
  display: block;
  background: #e1e1e1;
  color: black; 
  text-decoration: none;

}
 footer a:hover {
   text-decoration: underline;
      }
#sign{
    padding-left: 220px;
    font-size: 13px;
} 
